### <span style='color:red'> Unint preus i accidents.<br> </span><span style='color:green'> Uniendo precios y accidentes.<br></span><span style='color:blue'> Joining prices and accidents.<br></span>

In [1]:
import os
import pandas as pd
import numpy as np
home_dir = os.getcwd()
price_folder =  home_dir +'/../../data/price/'
accid_folder =  home_dir +'/../../data/accid/'
model_folder =  home_dir +'/../../data/model/'
price_path = price_folder + 'prices_14_23.csv'
accid_path = accid_folder + 'accidents_trimestrals_16_22.csv'
model_path = model_folder + 'pca_model.csv'

In [2]:
#defining dtypes i save 32% of memory.
#Use to checkit sum(list(price.memory_usage()))
price_types = {"Any":np.uint16,"Trimestre":np.uint8,"Nom_Districte":str,"Nom_Barri":str,"Eur":np.float32,"Clau":str,"Eur_m2":np.float32,"Date":str}
price = pd.read_csv(price_path, dtype = price_types)
price.shape

(2479, 8)

In [3]:
#defining dtypes i save 61% of memory.
#Use to checkit sum(list(price.memory_usage()))
accid_types = {"Clau":str,"Accidents":np.uint16,"Mat":np.uint8,"Tar":np.uint8,"Nit":np.uint8,"Mat_P":np.float32,"Tar_p":np.float32,"Nit_p":np.float32}
accid = pd.read_csv(accid_path, dtype = accid_types)
accid.shape

(2046, 8)

In [4]:
raw_model = pd.merge(price, accid, on="Clau")

<span style='color:red'> Elecció de columnes.<br> </span><span style='color:green'> Selección de columnas.<br></span><span style='color:blue'> choice of columns.<br></span>

In [5]:
pca_model = raw_model[["Nom_Barri",	"Any", "Trimestre", "Eur","Eur_m2","Mat",	"Tar",	"Nit"]]
pca_model.shape

(1802, 8)

In [6]:
pca_model.head()

,Nom_Barri,Any,Trimestre,Eur,Eur_m2,Mat,Tar,Nit
0,el Raval,2016,1,624.419983,11.650000,21,29,11
1,el Barri Gòtic,2016,1,893.419983,13.470000,17,12,3
2,la Barceloneta,2016,1,638.750000,17.299999,17,12,5
3,"Sant Pere, Santa Caterina i la Ribera",2016,1,759.159973,12.940000,19,24,6
4,el Fort Pienc,2016,1,800.080017,11.190000,19,25,9

In [7]:
pca_model.to_csv(model_path, index= False)

In [8]:
grouped = pca_model.groupby(["Any", "Trimestre"],group_keys=False)
counted_quarter = grouped.size().unstack()

In [9]:
counted_quarter

Trimestre     1     2     3     4
Any
2016       66.0  66.0  66.0  66.0
2017       66.0  67.0  67.0  67.0
2018       67.0  67.0  67.0  67.0
2019       67.0  67.0  67.0  67.0
2020       67.0  66.0  67.0  67.0
2021       67.0  67.0  67.0  66.0
2022       67.0  67.0  67.0   NaN