In [2]:
import pandas as pd

In [7]:
def count_NAN(df:pd.DataFrame):
    """
    Count NAN values in each column of a dataset.
    Print 8 counts in per line
    """
    col_counter = 1
    for col in df.columns:
        count = df[col].isna().sum()
        if ((col_counter % 8) == 0):
            sep = "|\n"
        else:
            sep = "| "
        print("|{} = {}".format(col,count), end=sep)
        col_counter = col_counter + 1

In [4]:
censo_path="/home/luicasad/Documentos/python/jump2digital/hackaton/data/censo_2019.csv"
censo=pd.read_csv(censo_path)

/tmp/ipykernel_8476/2482116879.py:2: DtypeWarning: Columns (35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  censo=pd.read_csv(censo_path)

In [16]:
censo.columns

Index(['ID_Bcn_2019', 'ID_Bcn_2016', 'Codi_Principal_Activitat',
       'Nom_Principal_Activitat', 'Codi_Sector_Activitat',
       'Nom_Sector_Activitat', 'Codi_Grup_Activitat', 'Nom_Grup_Activitat',
       'Codi_Activitat_2019', 'Nom_Activitat', 'Codi_Activitat_2016',
       'Nom_Local', 'SN_Oci_Nocturn', 'SN_Coworking', 'SN_Servei_Degustacio',
       'SN_Obert24h', 'SN_Mixtura', 'SN_Carrer', 'SN_Mercat', 'Nom_Mercat',
       'SN_Galeria', 'Nom_Galeria', 'SN_CComercial', 'Nom_CComercial',
       'SN_Eix', 'Nom_Eix', 'X_UTM_ETRS89', 'Y_UTM_ETRS89', 'Latitud',
       'Longitud', 'Direccio_Unica', 'Codi_Via', 'Nom_Via', 'Planta', 'Porta',
       'Num_Policia_Inicial', 'Lletra_Inicial', 'Num_Policia_Final',
       'Lletra_Final', 'Solar', 'Codi_Parcela', 'Codi_Illa', 'Seccio_Censal',
       'Codi_Barri', 'Nom_Barri', 'Codi_Districte', 'Nom_Districte',
       'Referencia_cadastral', 'Data_Revisio'],
      dtype='object')

In [6]:
censo.Nom_Principal_Activitat.unique()

array(['Actiu', 'Sense activitat Econòmica'], dtype=object)

In [12]:
censo.Nom_Eix.unique()

array([nan, 'Barna Centre', 'Rambla Catalunya', 'Sant Antoni Comer',
       'EL Clot', 'Passeig de Gr�cia', 'Cor Eixample', 'Sant Andreu',
       'Sant Gervasi', "Cor d'Horta i Mercat", 'Sants-Les Corts', 'Raval',
       'Sagrada Fam�lia', 'Nou Barris Centre Comer', 'La Rambla', 'Sarri',
       'Sant Mart', 'Sants-Creu Coberta', 'Gran de Gr�cia', 'Maragall',
       'Nou Eixample', 'Poblenou', 'Sarria', 'Passeig de Gracia',
       'SANT MARTI', 'Sagrada Familia', 'Sant Marti', 'Passeig de Gràcia',
       'SAN MART'], dtype=object)

In [18]:
len(censo.Nom_Local.unique())

51438

In [32]:
mask_actiu=censo["Nom_Principal_Activitat"] == "Actiu"

In [33]:
mask_sense=censo["Nom_Principal_Activitat"] == "Sense activitat Econòmica"

In [35]:
print("Hay {} locales activos y {} locales vacios".format(censo[mask_actiu].shape[0], censo[mask_sense].shape[0]))

Hay 61558 locales activos y 18996 locales vacios

In [37]:
mask_actiu_sn=(censo["Nom_Principal_Activitat"] == "Actiu") & (censo["Nom_Local"] == "SN")

In [38]:
censo[mask_actiu_sn].shape

(3895, 49)

In [39]:
censo.Nom_Sector_Activitat.unique()

array(['Serveis', 'Altres', 'Comerç al detall', 'Sense informació',
       'Sense informació - Havia tingut activitat (rètol)', 'En reforma',
       'Locals buits en venda i lloguer', 'Locals buits en lloguer',
       'Locals buits en venda', 'Comerç al detall /Engròs'], dtype=object)

In [46]:
actividades = censo.groupby(["Nom_Sector_Activitat", "Codi_Districte"])

In [49]:
counted_act = actividades.size().unstack()

In [50]:
counted_act

Codi_Districte,1,2,3,4,5,6,7,8,9,10
Nom_Sector_Activitat,,,,,,,,,,
Altres,470,957,756,360,522,559,481,484,632,927
Comerç al detall,2906,5118,1742,836,2143,2038,1316,1529,1448,2250
Comerç al detall /Engròs,98,181,65,22,49,45,30,43,50,99
En reforma,110,233,114,53,124,95,45,50,48,82
Locals buits en lloguer,79,246,139,59,178,167,113,153,136,126
Locals buits en venda,20,66,55,28,24,160,71,82,55,81
Locals buits en venda i lloguer,61,98,65,22,77,38,48,57,41,57
Sense informació,802,742,1609,374,763,1229,1859,1414,1056,1316
Sense informació - Havia tingut activitat (rètol),530,524,477,125,172,335,394,565,374,780
Serveis,3090,7749,3212,1760,3666,2818,2157,2216,2319,4415

In [60]:
activos_inactivos = censo.groupby(["Nom_Principal_Activitat", "Codi_Districte"])
counted_activos_inactivos = activos_inactivos.size().unstack()
counted_activos_inactivos

Codi_Districte,1,2,3,4,5,6,7,8,9,10
Nom_Principal_Activitat,,,,,,,,,,
Actiu,6564,14005,5775,2978,6380,5460,3984,4272,4449,7691
Sense activitat Econòmica,1602,1909,2459,661,1338,2024,2530,2321,1710,2442

In [61]:
counted_activos_inactivos[2]

Nom_Principal_Activitat
Actiu                        14005
Sense activitat Econòmica     1909
Name: 2, dtype: int64