In [1]:
import pandas as pd

In [2]:
censo_path="/home/luicasad/Documentos/python/jump2digital/hackaton/data/censo_2016.csv"
censo=pd.read_csv(censo_path)

/tmp/ipykernel_11812/120425393.py:2: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  censo=pd.read_csv(censo_path)

In [3]:
censo.columns

Index(['ID_BCN', 'ID_PRINCIP', 'N_PRINCIP', 'ID_SECTOR', 'N_SECTOR',
       'ID_GRUPACT', 'N_GRUPACT', 'ID_ACT', 'N_ACT', 'N_LOCAL', 'SN_CARRER',
       'SN_MERCAT', 'ID_MERCAT', 'N_MERCAT', 'SN_GALERIA', 'N_GALERIA',
       'SN_CCOMERC', 'ID_CCOMERC', 'N_CCOMERC', 'N_CARRER', 'NUM_POLICI',
       'REF_CAD', 'DATA', 'Codi_Barri', 'Nom_Barri', 'Codi_Districte',
       'N_DISTRI', 'N_EIX', 'SN_EIX', 'SEC_CENS', 'Y_UTM_ETRS', 'X_UTM_ETRS',
       'LATITUD', 'LONGITUD'],
      dtype='object')

In [4]:
actividades = censo.groupby(["N_SECTOR", "Codi_Districte"])

In [5]:
counted_act = actividades.size().unstack()

In [6]:
counted_act

Codi_Districte,1,2,3,4,5,6,7,8,9,10
N_SECTOR,,,,,,,,,,
Altres,444,1187,652,253,416,570,485,502,576,660
Comerç al detall,3150,5461,1838,905,2184,2147,1435,1640,1564,2423
En reforma,67,215,75,29,62,51,44,30,33,92
Locals buits en lloguer,55,340,267,123,199,192,260,265,253,254
Locals buits en venda,29,93,122,39,43,51,91,124,85,110
Locals buits en venda i lloguer,75,195,96,58,58,134,96,108,111,121
Sense informació,1367,968,1704,559,852,1714,1496,1306,1070,1987
Serveis,2628,7720,3023,1704,3171,2734,2423,2238,2101,4031

In [7]:
type(counted_act)

pandas.core.frame.DataFrame

In [12]:
len(counted_act.index[0])

6

In [16]:
counted_act.index[0].value

AttributeError: 'str' object has no attribute 'value'